.homePage{
    width: 100%;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.mainHeader{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-left: calc((100% - 1400px) / 5);
    padding-right: calc((100% - 1400px) / 5);
    margin-bottom: 35px;
}

.mainBody{
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 0;
}

@media (max-width: 1630px) {
    .mainHeader {
        padding-left: calc((100% - 1050px) / 4);
        padding-right: calc((100% - 1050px) / 4);
    }
}

@media (max-width: 1228px) {
    .mainHeader {
        padding-left: calc((100% - 700px) / 3);
        padding-right: calc((100% - 700px) / 3);
    }
}