.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.navbar-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    gap: 10px;
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.navbar-center h1 {
    font-weight: 300;
    font-size: 1.5rem;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    gap: 10px;
}

.navbar button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar button:hover {
    text-decoration: underline;
}

.mainHeader h3 {
    font-weight: 300;
    text-align: center;
}

