.productPage {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
}

.productPage > * {
    width: 100%;
    max-width: 450px;
}

.mainImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainImage img {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
}

.alternateImages {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.productInfo {
    width: 100%;
    text-align: center;
}

.productInfo h1 {
    margin-bottom: 1rem;
}

.productPrice {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.productDescription {
    line-height: 1.6;
}

.alternateImage {
    width: 75px;
    aspect-ratio: 3/4;
    object-fit: cover;
}

.alternateImage {
    width: 75px;
    aspect-ratio: 3/4;
    object-fit: cover;
}

